// HOMEPAGE
// ********************************************************************* //

#home {
    margin-top: 0;
    font-family: 'Raleway', sans-serif;

    header {
      border-bottom: 1px solid $gray-lighter;
      margin-bottom: 36px;
      padding-bottom: 18px;
    }

    .home-banner{ // banner image
      background: url('../img/bannertecmenor.jpg') top left / 100% no-repeat fixed;
      color: #FFF;
      padding: 2em 1em;
    }

    // page title
    .home-title{
      font-size: 3vw;
      font-family: 'Raleway';
    } //.page-title


    #courses{
      margin-bottom: 40px;

      // repeatable blocks from home
      .block {
        margin-bottom: 40px;
        @media (min-width: 380px) and (max-width: $screen-xs-max) {
          float: none;
          margin: 0 auto 40px;
          max-width: 360px;
        }
      } // .block

      // see all courses button
      .see-all-courses {
        @media (min-width: 380px) and (max-width: $screen-xs-max) {
          margin: 0 auto;
          max-width: 360px;
        }
      } //.see all courses button
    } // #courses
} // #home

// how it works
#how-it-works {
    background-color: $gray-lighter;
    color: $gray;
    padding-bottom: 40px;
    padding-top: 40px;

    // midia container
    .midia {
        margin-bottom: 36px;
        padding-bottom: 18px;

        @media screen and (min-width: $screen-tablet) {
          border-bottom: 1px solid lighten($gray-light, 20%);
          display: flex;
          align-items: center;
        }
        @media screen and (max-width: $screen-tablet) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
        }
    } // .midia

    .midia-title{
      margin-top: 1.5em;
      flex: 2 100%;

      h4{
        color: $brand-red;
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
      }

      @media screen and (min-width: $screen-tablet) {
        align-self: flex-start;
      }
    }

    .midia-logo{
        flex: 1 100%;

       @media screen and (min-width: $screen-tablet) {
         margin-left: 20px;
       }
       @media screen and (max-width: $screen-tablet) {
         margin-top: 20px;
       }

       img { display: inline; }
    }
} // #how-it-works

// Testimonial Carousel
#carousel-testimonials{

  .carousel-inner{
    display: table;
  }

  .carousel-control.left, .carousel-control.right{
    background: none;
    cursor: pointer;
  }

  .carousel-caption{
    color: $gray-dark;
    position: static;
    text-shadow: none;
    max-width: 80%;
    margin: 0 auto;
  }

  .carousel-indicators{
    position: static;
    margin: 0 auto;
  }

  .testimonial{
    font-size: 2em;
    max-width: 80%;
    margin: 0 auto;
  }
} //#carousel-testimonials
