// import default theme main css
@import '../../../default/static/css/main.scss';

@import 'less/components/headers.scss';
@import 'less/components/navbar.scss';
@import 'less/components/footer.scss';
@import 'less/components/text-editor.scss';
@import 'less/modules/settings.scss';
@import 'less/pages/home.scss';
@import 'less/pages/course.scss';
@import 'less/pages/lesson.scss';
@import 'less/pages/forum.scss';